@charset "UTF-8";
html, body{
	height: 100%; 
	weight: auto; 
	background-color: black; 
	color: white; 
}

#admin, #guest{
	background-color:white; ; 
	border: 1px solid green; 
	border-radius: 5px; 
	color:white;
}
