@charset "UTF-8";
/* General Page */
html, body{
	height: auto;
	width:auto;
}
/* Splash page  */
#splashDiv{
  margin-top:200px;
}
#admin, #guest{
	margin:10px;
	width:300px;
}
/* Admin home page  */
#totalUsers, #totalPosts{
	border:1px solid silver; 
	padding: 10px; 
}
/* Admin userInfo Page  */
#btnAdminUpdateUser, #btnAdminDeleteUser{
	margin:10px; 
	width:200px;
}




/* Stick Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
	margin-top:50px;
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
    text-align: center;
    padding-top:10px;
  height: 70px; /* Set the fixed height of the footer here */
  vertical-line:60px;
  background-color: #f5f5f5;
}
footer img{
		height: 50px;
		width:50px;
}
.navbar a img{
	background-color:white; 
	height: 50px;
	width:50px;
	/* border-radius: 30px; */
}
.navbar ul li a{
	font-size:24pt;
}