@charset "UTF-8";
/* General Page */
#admin, #guest {
	margin: 10px;
	width: 300px;
}
/* Admin home page  */
#totalUsers, #totalPosts {
	border: 1px solid silver;
	padding: 10px;
}
/* Admin userInfo Page  */
#btnAdminUpdateUser, #btnAdminDeleteUser {
	margin: 10px;
	width: 200px;
}
/*Browse Pages*/
.post-component {
	background-color: #E9ECEF;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px silver;
}

.jumbotron {
	background-color: white;
	border-raidus: 5px;
}

.jumbotron .container {
	padding: 5px;
}

.post-reply {
	background-color: #007BFF;
	border-radius: 5px;
	padding: 5px;
	width: auto;
	height: 50px;
	color: white;
}

em {
	font-size: 8px;
}